* {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#time {
    font-size: 80px;
}

#ampm {
    margin-left: 50px;
}